/*.      Global.        */
@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');

@font-face {
  font-family: 'idoid';
  src: url('fontes/IDroid.otf') format('opentype');
  font-weight:normal;
}

:root {
  --cor0: #c5ebd5;
  --cor1: #83e1ad;
  --cor2: #3ddc54;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #068d1e;
  
  --padrao: arial, verdana, Helvetica, sans-serif
  --destaque: 'Bebas Neue', cursive;
  --droid: 'idoid', cursive;
}

* {
  margin: 0;
  padding: 0;
}

/*.    site.     */

body {
  background: var(--cor0)
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 30px;
}

header > h1 {
  color: #fff;
  font-family: var(--destaque);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0, 267);
}

header p {
  font-family: var(--padrao);
  font-size: 1.2em;
  color: #fff;
  max-width: 600px;
  padding: 0 10px;
  margin: auto;
  padding-bottom: 20px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0,315);
}

nav {
  background: var(--cor5);
  padding: 10px;
  box-shadow: 0 7px 7px rgba(0,0,0,0, 363);
}
nav a {
  color: var(--cor1);
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  transition: 0.5s;
}
nav a:houver {
  background: var(--cor3);;
  color: var(--cor5);
}


main {
  background: #fff;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  min-width: 30px;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0,0,0,0,418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  font-family: var(--droid);
  font-weight: normal;
  font: 1.8em;
}

main h2 {
  font-family: var(--droid);
  color: var(--cor4);
  font-weight: normal;
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
}

main p {
  margin: 15px 0;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}

main strong {
  color: var(--cor4);
  font-weight: bold;
}

main a {
  background: var(--cor1);
  color: var(--cor5);
  padding: 2px 6px;
  text-decoration: none;
  font-weight: bold;
}
main a:houver {
  text-decoration: underline;
  color: var(--cor4);
}

main img {
  width: 100%;
}

main img #pequeno {
  max-width: 350px;
  display: block;
  margin: auto;
}

aside {
  background: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0,281)
}

.video {
  margin: 0 -20px 30px --20px;
  padding: 20px;
  padding-bottom: 55%;
  position: relative;
}

.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside h3 {
  background: var(--cor4);
  color: #fff;
  padding: 10px;
  margin: -10px -10px 0 -10px;
  border-radius: 10px 10px 0 0;
}

aside ul {
  list-style-type: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}

/*.    Rodapé.      */

footer {
  background: var(--cor5);
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding: 5px;
}

footer a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}
footer a:houver {
  text-decoration: underline;
  color: var(--cor1);
}